@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

body {
    font-family: 'Exo 2', sans-serif;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    color: white;
}
.odometer {
    font-family: 'Exo 2', sans-serif !important;
}
#scoreSaberID {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 43%;
    transform: translate(-50%, -50%);
    width: 400px;
    opacity: 1;
    border-radius: 10px;
}
#submit {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 76%;
    transform: translate(-50%, -50%);
    width: 100px;
    opacity: 1;
    border-radius: 10px;
}
#playerPP {
    margin: 0;
    position: absolute;
    top: 90% !important;
    left: 80% !important;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
#playerPPText {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
#playerTotalRankedScore {
    margin: 0;
    position: absolute;
    top: 90% !important;
    left: 60% !important;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
#playerTotalScoreText {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);  
}
#globalRank {
    margin: 0;
    position: absolute;
    top: 90% !important;
    left: 40% !important;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
#globalRankText {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
}
#countryRankText {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
}
#countryRank {
    margin: 0;
    position: absolute;
    top: 90% !important;
    left: 20% !important;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
.card2 {
    text-align: center;
    background: #000000d0;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    height: 500px;
    max-width: 800px;
    margin: 1em;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(136, 136, 136, 0.404);
    backdrop-filter: blur( 100px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
#profilePicture {
    border-radius: 100px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    height: 90px;
    width: 90px;
}
#name {
    font-size: 50px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#footerNote {
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}